/* CSS Reset */
 
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Background Image */
html,
body {
  background-image: url("../img/background-image.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 325px;
}

/* Text Decoration*/
a {
  text-decoration: none;
}

/* Navigation Bar */
#navbar {
  background: white;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
#navbar h1 a {
  float: left;
  color: black;
  padding: 10px 0px;
}
#navbar ul {
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  color: black;
  display: block;
  padding: 10px 10px;
}
#navbar ul li a:hover,
.current2 {
  color: brown;
  background: #ddd;
}

/* Container */
.container {
  max-width: 1920px;
  padding: 0% 5%;
   
  margin: auto;
  overflow: auto;
}
.container p {
  font-family: "Poppins", sans-serif;
  padding: 10%;
  line-height: 1.6rem;
  text-align: center;
  text-align: justify;
  display: block;
  margin: auto;
  overflow: auto;
}
