/* CSS Reset */
 

/* Background Image */
 
body {
  background-image: url("../img/background-image.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 325px;
}
 
.container {
  max-width: 1920px;
  padding: 0% 5%;
  margin: auto;
  overflow: auto;
}

.container p {
  font-family: "Poppins", sans-serif;
   
  line-height: 1.6rem;
  text-align: center;
  text-align: justify;
  display: block;
  margin: auto;
  
}
